header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;

  .logo {
    font-size: 1.5em;
  }

  .nav {
    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin-left: 20px;

        a {
          text-decoration: none;
          color: #fff;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
